:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8fafc; /* Um cinza quase branco, muito elegante */
  color: #0f172a; /* Texto quase preto, para bom contraste */
}

body {
  margin: 0;
  min-height: 100vh;
}